/* Created by Artisteer v4.1.0.59861 */

.cpac-header, #cpac-header-bg, .cpac-layout-cell, .cpac-layout-wrapper, .cpac-footer, .cpac-nav, #cpac-hmenu-bg, .cpac-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.cpac-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.cpac-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#cpac-header-bg 
{
   display: none;
}

.cpac-hmenu>li, .cpac-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.cpac-hmenu, ul.cpac-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#cpac-hmenu-bg 
{
   display: none;
}

ul.cpac-hmenu>li:first-child {
   padding-right:1px;
}
ul.cpac-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='cpac-hmenu-separator');
}
ul.cpac-hmenu>li>span.cpac-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 25px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.cpac-hmenu>li:first-child>span.cpac-hmenu-separator
{
   display:none;
}

ul.cpac-hmenu ul, .desktop-nav ul.cpac-hmenu>li.ext:hover>a{
   background-color: #BFBFBF !important;
}

.cpac-content-layout, .cpac-content-layout-row, .cpac-layout-cell 
{
   display: block;
   zoom: 1;
}
.cpac-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.cpac-vmenu, ul.cpac-vmenu ul, ul.cpac-vmenu li{
   zoom: 1;
}

ul.cpac-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.cpac-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.cpac-search div>input[type="text"]
{
   width: 100%;
}

* html form.cpac-search>input[type="text"] 
{
   margin :0;
}

.cpac-postmetadataheader{
   zoom:1;
}

.cpac-postheadericons span{
   zoom: 1;
}
.cpac-postcontent {
   height: 1%;
}

.cpac-postmetadatafooter{
   zoom:1;
}

.cpac-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.cpac-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='cpac-sidebar1-bg' + (className.indexOf('cpac-sidebar1-fix') == -1 ? '' : ' cpac-sidebar1-bg-fix' ));
}

.cpac-sidebar1-bg 
{
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 250px;
   overflow:hidden;
   display:block;
   background-color: #FFFFFF;
}

.cpac-sidebar2 
{
   width: auto;
   float:none;
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='cpac-sidebar2-bg' + (className.indexOf('cpac-sidebar2-fix') == -1 ? '' : ' cpac-sidebar2-bg-fix' ));
}

.cpac-sidebar2-bg 
{
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 210px;
   overflow:hidden;
   display:block;
   background-color: #FFFFFF;
}

